html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Roboto', Arial, sans-serif;
  color: #212529; 
}

.container1 {
  min-height: 100vh;
}

#form {
  margin-top: 150px !important;
}

.footer {
  bottom: 0;
}

.navbar-logo {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

.navbar-logo img {
  display: block;
  width: 100%;
  height: auto;
}

.card {
  border-width: 1px;
  border-color: #242424;
}

.rounded-image {
  border-radius: 8px;
  
}

.search{
  list-style-type: none;
}

.chat-container {
  text-align: center;
  padding: 20px;
}

.logo {
  margin-right: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.user-message,
.bot-message {
  margin-top: 10px;
}

.Load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47%;
  margin-top: 20%;
  color: black;
  font-size: 150px;
}

.loading {
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20%;
}
